.main-nav
    header.main-nav__header
        .main-nav__user
            img(src="img/profile.png").main-nav__user__img
            .main-nav__user__data
                .main-nav__user__name Hebert Romero
                .main-nav__user__bio Profesor de si mismo

    include menu


