.course
{

}
.course-header
{
   position:relative;
   margin-bottom: 4em;
   &::before
   {
     content: "";
     width: 100%;
     height: rem(40px);
     background: rgba(#000,.5);
     display: block;
     position: absolute;
     bottom: 56px;

   }
   &__teacher
   {
      margin-top: -50px;
      padding: 0 $gutter;
      display: flex;
      height: rem(100px);
      position:relative;
      z-index: 500;
      &__img
      {
         width: rem(100px);
         //box-shadow: 0 0 0 1px color(gris-claro);
      }
      &__data
      {
         display: flex;
         flex-direction: column;
         padding-left: $gutter;
      }
      &__ask
      {
        margin-top: auto;
        display: table;
      }
      &__name
      {
        font-size:1.2em;
        color:color(blanco);
        // para alinear verticalmente
        margin-top: .6em;

        small
        {
          font-size: .7em;
          display-inline:block;
          margin-left: .5em;
          opacity: .6;
        }
      }
      .button.cta
      {
         margin-bottom: .4em;
      }
   }
}

.content
{
   padding: 0 $gutter;
}

.course-content
{
   &__item
   {
      padding: .7em 0;
      border-bottom: 1px solid color(gris-claro);

   }
}